<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="458bb70f-f5d5-47d9-9c9e-5a370670efa0" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="458bb70f-f5d5-47d9-9c9e-5a370670efa0fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
