<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="13a7064b-89b0-420c-bcc6-9cca268ad0cf" name="SpotifyAccount" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="13a7064b-89b0-420c-bcc6-9cca268ad0cffileName">SpotifyAccount</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="SpotifyAccount.json">
    <con:part>
      <con:url>SpotifyAccount.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"SpotifyAccount","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/search":{"get":{"parameters":[{"name":"q","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"market","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Default response"}}},"parameters":[{"name":"type","in":"query","required":false,"style":"form","explode":true}]},"/tracks/2TpxZ7JUBn3uw46aR7qd6V":{"description":"","get":{"description":"","responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>https://api.spotify.com/v1</con:endpoint>
  </con:endpoints>
</con:interface>
